<div class="container">
    <a href="/emails/" class="btn btn-info" data-method="POST", data-remote="true"> Recevoir un email </a>
        <div class="columns">
            <div class="left-part-object-email">
                <% @emails.each do |email|  %>
                    <a href="<%=  email_path(email.id) %>" class="email-<%= email.id  %>" data-method="GET", data-remote="true"> <%= email.object  %> </a><br>
                <% end  %>
            </div>
            <div class="right-part-body-email">
            </div>
        </div>
</div>


